*{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    margin: 0; 
    padding: 0; 
  }
  
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
 
.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.main-box{
  background-color: #edf4fd;
  height: 113%;
}

header {
    background-color: #BF9649;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #757a03;
}

h2{
  font-size: 2rem;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.welcome, .instructions {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.instructions-card {
    display: flex;
    justify-content: space-between;
  }
  
  .login{
    border: 5px solid #757a03;
  }

  .gameplay{
    border: 5px solid #757a03;
  }

  .instructions {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .instructions h3 {
    color: #000;
  }
  
  .instructions p {
    font-size: 1.1rem;
  }

  .start-button {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.log{
    
    bottom: 15%;
    right: 35%;
    background-color: #757a03;
    border-radius: 8px;
    border: 7px solid transparent;
    padding: 0.3em 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
    text-decoration: none;
    
}


footer {
    background-color: #BF9649;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.user-score-table {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #BF9649;
  }

  .error{
    color:red;
    background-color: #f5cdcd;
    width: 66%;
  }

  .logout{
    background-color: #757a03;
    border-radius: 8px;
    border: 7px solid transparent;
    padding: 0.3em 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
    text-decoration: none;
    margin: 4%;
  }