.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: white;
  }
  
  /* Style the links on hover if needed */
  .navbar-menu a:hover {
    color: gray;
  }